{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-param-reassign": "off"
  },
  "env": {
    "jest": true
  }
}
